<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Form Add Product</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Form Add Product</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-6">
        <!-- Form Add Product elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Quick Example</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form
            role="form"
            method="POST"
            action="/product-add"
            enctype="multipart/form-data"
          >
            <div class="card-body">
              <div class="form-group">
                <label for="exampleInputEmail1">Product Name </label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  name="name"
                  placeholder="Enter product name"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Product Code </label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  name="code"
                  placeholder="Enter product code"
                />
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Category</label>
                <select
                  class="form-control"
                  id="exampleFormControlSelect1"
                  name="category_id"
                >
                  <% categories.forEach(function (category) { %>
                  <option value="<%= category.id %>">
                    <%= category.name %>
                  </option>
                  <% }) %>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="3"
                  name="description"
                  placeholder="Enter description"
                ></textarea>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Product Price </label>
                <input
                  type="number"
                  class="form-control"
                  id="exampleInputEmail1"
                  name="price"
                  placeholder="Enter product price"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Product Properties </label>
                <input
                  type="text"
                  class="form-control input-size"
                  id="exampleInputEmail1"
                  name="product_size"
                  placeholder="Enter product size"
                  data-role="tagsinput"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control input-color"
                  id="exampleInputEmail1"
                  name="product_color"
                  placeholder="Enter product color"
                  data-role="tagsinput"
                />
              </div>
              <div class="form-group">
                <input
                  type="number"
                  class="form-control"
                  id="exampleInputEmail1"
                  name="product_quantity"
                  placeholder="Enter product quantity"
                />
              </div>
              <div class="form-group">
                <label for="exampleFormControlFile1">Thumnail</label>
                <input
                  type="file"
                  class="form-control-file"
                  name="thumbnail"
                  id="exampleFormControlFile1"
                  accept="image/*"
                />
              </div>
              <!-- <div class="form-group">
                <label>Thumbnail </label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  name="thumbnail"
                  placeholder="Enter thumbnail"
                />
              </div> -->
              <!-- <div class="form-group field_wrapper">
                <div>
                  <label>Properties</label>
                  <div class="d-flex align-center">
                    <input
                      type="text"
                      class="form-control product_size"
                      name="product_size[]"
                      placeholder="Enter size"
                    />
                    <input
                      type="text"
                      class="form-control ml-3"
                      name="product_color[]"
                      placeholder="Enter color"
                    />
                    <input
                      type="text"
                      class="form-control ml-3"
                      name="product_code[]"
                      placeholder="Enter code"
                    />
                    <input
                      type="text"
                      class="form-control ml-3"
                      name="product_quantity[]"
                      placeholder="Enter quantity"
                    />
                    <button
                      type="button"
                      class="btn btn-primary ml-1 add_button"
                    >
                      Add
                    </button>
                    <button type="button" class="btn btn-danger ml-1">
                      Delete
                    </button>
                  </div>
                </div>
              </div> -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- <script type="text/javascript">
  $(document).ready(function () {
    var maxField = 10; //Input fields increment limitation
    var addButton = $(".add_button"); //Add button selector
    var wrapper = $(".field_wrapper"); //Input field wrapper
    var product_size = $(".product_size");
    console.log(product_size);
    var fieldHTML =
      '<div class="mt-2"><div class="d-flex"> <input type="text" class="form-control" id="exampleInputEmail1" name="product_size[]" placeholder="Enter size"/><input type="text" class="form-control ml-3" id="exampleInputEmail1" name="product_color[]" placeholder="Enter color"/><input type="text" class="form-control ml-3" id="exampleInputEmail1" name="product_code[]" placeholder="Enter code"/><input type="text" class="form-control ml-3" id="exampleInputEmail1" name="product_quantity[]" placeholder="Enter quantity"/><button type="button" class="btn btn-primary ml-1 add_button">Add</button><button type="button" class="btn btn-danger ml-1 remove_button">Delete</button></div></div>'; //New input field html
    var x = 1; //Initial field counter is 1
    $('input').on('itemAdded', function(event) {
        // $(product_size).val($('.input-size').val());
        var string = $('.input-size').val();
        var array = string.split(",");
        console.log(array);
    });
    // for (let i = 0; i < array.length; i++) {
    //       $(wrapper).append(fieldHTML);
    // }
    //Once add button is clicked
    // $(addButton).click(function () {
    //   //Check maximum number of input fields
    //   if (x < maxField) {
    //     x++; //Increment field counter
    //     $(wrapper).append(fieldHTML); //Add field html
    //   }
    // });

    // //Once remove button is clicked
    // $(wrapper).on("click", ".remove_button", function (e) {
    //   e.preventDefault();
    //   console.log($(this).parent("div"));
    //   $(this).parent("div").remove(); //Remove field html
    //   x--; //Decrement field counter
    // });
  });
</script> -->
